@tailwind base;
@tailwind components;
@tailwind utilities;

/* Design Token */
:root {
  /* 実運用ではここにpaletteを列挙。プレビューではjsで自動生成する。 */
  /* --token-palette-primary-0: #00000; */
  --token-shadow-elv-0: 0 0 #000000;
  --token-shadow-elv-1: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --token-shadow-elv-2: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --token-shadow-elv-3: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --token-shadow-elv-4: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --token-shadow-elv-5: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --token-overlayOpacity-elv-0: 0;
  --token-overlayOpacity-elv-1: 0.05;
  --token-overlayOpacity-elv-2: 0.08;
  --token-overlayOpacity-elv-3: 0.11;
  --token-overlayOpacity-elv-4: 0.12;
  --token-overlayOpacity-elv-5: 0.14;
}

/* Light/Dark Mode共通 */
:root {
  --ref-shadow-elv-0: var(--token-shadow-elv-0);
  --ref-shadow-elv-1: var(--token-shadow-elv-1);
  --ref-shadow-elv-2: var(--token-shadow-elv-2);
  --ref-shadow-elv-3: var(--token-shadow-elv-3);
  --ref-shadow-elv-4: var(--token-shadow-elv-4);
  --ref-shadow-elv-5: var(--token-shadow-elv-5);
  --ref-overlayOpacity-elv-0: var(--token-overlayOpacity-elv-0);
  --ref-overlayOpacity-elv-1: var(--token-overlayOpacity-elv-1);
  --ref-overlayOpacity-elv-2: var(--token-overlayOpacity-elv-2);
  --ref-overlayOpacity-elv-3: var(--token-overlayOpacity-elv-3);
  --ref-overlayOpacity-elv-4: var(--token-overlayOpacity-elv-4);
  --ref-overlayOpacity-elv-5: var(--token-overlayOpacity-elv-5);
}

/* Light Mode */
/* :root {*/
[data-mode=light] {
  --ref-background: var(--token-palette-neutral-95);
  --ref-background-on-high: var(--token-palette-neutral-10);
  --ref-background-on-medium: var(--token-palette-neutral-30);
  --ref-background-on-low: var(--token-palette-neutral-50);
  --ref-surface: var(--token-palette-neutral-90);
  --ref-surface-on-high: var(--token-palette-neutral-10);
  --ref-surface-on-medium: var(--token-palette-neutral-30);
  --ref-surface-on-low: var(--token-palette-neutral-50);
  --ref-primary: var(--token-palette-primary-40);
  --ref-primary-on: var(--token-palette-primary-10);
}

/* Dark Mode */
/*@media (prefers-color-scheme: dark) {
  :root {
*/
[data-mode=dark] {
  --ref-background: var(--token-palette-neutral-10);
  --ref-background-on-high: var(--token-palette-neutral-90);
  --ref-background-on-medium: var(--token-palette-neutral-70);
  --ref-background-on-low: var(--token-palette-neutral-50);
  --ref-surface: var(--token-palette-neutral-20);
  --ref-surface-on-high: var(--token-palette-neutral-90);
  --ref-surface-on-medium: var(--token-palette-neutral-70);
  --ref-surface-on-low: var(--token-palette-neutral-50);
  --ref-primary: var(--token-palette-primary-60);
  --ref-primary-on: var(--token-palette-primary-10);
}
/*}*/
